<div class="container-fluid mt-5">
    <div class="alert alert-success" role="alert">
        Add Items
      </div>
      <form   [formGroup]="additemform" (ngSubmit)="onsubmit()">

        <div class="row mt-3">
          
            <div class="col-sm-6">
                <label>Product name</label>
                <input type="text" formControlName="productname" class="form-control">
            </div>
            <span style="color:red;"  class="mt-sm-5 ml-3 ml-sm-0"  *ngIf="!additemform.get('productname').valid && additemform.get('productname').touched " >please enter something</span>

        </div>
        <div class="row mt-3">
          
            <div class="col-sm-6">
                <label>Product Cost</label>
                <input type="text" formControlName="productcost" class="form-control" pattern="[0-9]*" >
            </div>
            <span style="color:red;"  class="mt-sm-5 ml-3 ml-sm-0" *ngIf="additemform.get('productcost').hasError('pattern') || !additemform.get('productcost').valid && additemform.get('productcost').touched" >please enter number</span>
            <!-- <span style="color:red;"  class=""  *ngIf=" " >please enter something</span> -->
        </div>
        <div class="row mt-3">
          
            <div class="col-sm-6">
                <label>Product image url</label>
                <input type="text" formControlName="productimage" class="form-control" #imgpath>
            </div>
            <span style="color:red;"  class="mt-sm-5 ml-3 ml-sm-0"  *ngIf="!additemform.get('productimage').valid && additemform.get('productimage').touched " >please enter something</span>
        </div>
        <div class="row " *ngIf="imgpath.value">
          
            <div class="col-sm-6">
              <img [src]="imgpath.value" width="100px">
            </div>

        </div>
        <div class="row mt-3">
          
            <div class="col-sm-6">
                <label>Product detail</label>
                <input type="text" formControlName="detail" class="form-control">
            </div>
            <span style="color:red;"  class="mt-sm-5 ml-3 ml-sm-0"  *ngIf="!additemform.get('detail').valid && additemform.get('detail').touched " >please enter something</span>
        </div>
        <div class="row mt-3">
          
            <div class="col-sm-6">
                <label>Product Color</label>
                <input type="text" formControlName="productcolor" class="form-control">
            </div>
            <span style="color:red;"  class="mt-sm-5 ml-3 ml-sm-0"  *ngIf="!additemform.get('productcolor').valid && additemform.get('productcolor').touched " >please enter something</span>
        </div>
        <div class="row my-3">
          
            <div class="col-sm-6">
                <button type="submit" [disabled]="!additemform.valid" class="btn btn-primary">Add Item</button>
            </div>

        </div>


      </form>

</div>
