
<div class="container-fluid mt-5">
    <div class="alert alert-success" role="alert">
       Shopping cart
      </div>
      <div class="row">
        <div  class=" col-sm-6 " >
            <img class="" src="{{item.productimage}}" alt="Card image cap" width="300px">
            
          </div>
          <div class="col-sm-6">
            <div class="card-block ">
                <h4 class="card-title">Product name: {{item.productname}}</h4>
                <p class="card-text">Details: {{item.detail}}</p>
                <p class="card-text">Price : {{item.productcost}}</p>
                <p>{{item.productcolor}}</p>
              </div>
               
              <label for="">Address</label>
              <textarea name="address" id="" cols="30" rows="5" class="form-control" required [(ngModel)]="address"></textarea ><br>
              <button class="btn btn-primary mb-3" type="submit" (click)="boughtitem()">Buy</button>
            
          </div>
        
        
      </div>

</div>
